# 1. Virtual Environment (The most important one)
venv/
env/
__pycache__/venv

#Financial data (Don't upload CSVs to GitH - too big)
#*.csv 
*.json
*.xlsx

#3 Security (Never upload API keys)
.env

#4 OS Clutter
.DS_Store 
Thumbs.db
